---
layout: default
---
<div class="w-full bg-center py-48 bg-cover " style="background-image:url(https://source.unsplash.com/{{page.hero_id}}/1600x900) ">

  <div>
  </div>
</div>
<div class="bg-gray-100 py-12">
<div class="text-center text-6xl font-extrabold leading-none tracking-tight">
  <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-teal-900 to-indigo-900">
{{ page.title }}
  </h1>
</div>

<div class="prose lg:prose-xl  p-4 lg:p-8 m-4 mx-auto">
{{ content }}
</div>
